pre.highlight {
  padding: 8px 12px;
  position: relative;
}

pre.highlight > code {
  overflow-x: auto;
}

pre.highlight .copy {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  border-width-top: 0px;
  border: 1px solid #ccc;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-left-radius: 8px;
}

pre.highlight .copy:active,
pre.highlight .copy:focus,
pre.highlight .copy:hover,
pre.highlight:active .copy,
pre.highlight:focus .copy,
pre.highlight:hover .copy {
  background: rgba(245, 245, 245, 1);
  opacity: 1;
}