.summary {
  color: #808080;
  border-left: 5px solid #000000;
  font-size: 16px;
}

h3 {
  color: #000000;
}
h4 {
  color: #808080;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #000000;
  color: white;
}

.nav > li.active > a {
  background-color: #000000;
}

.nav > li > a:hover {
  background-color: #000000;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
  background-color: #000000;
}

.nav li.thirdlevel > a {
  background-color: #fafafa !important;
  color: #248ec2;
  font-weight: bold;
}

a[data-toggle="tooltip"] {
  color: #649345;
  font-style: italic;
  cursor: default;
}

.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
a.fa.fa-home.fa-lg.navbar-brand:hover {
  color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #000000;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #000000;
  color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #000000 !important;
}

.btn-primary {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #000000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #000000;
  border-color: #000000;
}

.printTitle {
  color: #015cae !important;
}

body.print h1 {
  color: #015cae !important;
  font-size: 28px !important;
}
body.print h2 {
  color: #595959 !important;
  font-size: 20px !important;
}
body.print h3 {
  color: #000000 !important;
  font-size: 14px !important;
}
body.print h4 {
  color: #679dce !important;
  font-size: 14px;
  font-style: italic !important;
}

.anchorjs-link:hover {
  color: #216f9b;
}

div.sidebarTitle {
  color: #015cae;
}

li.sidebarTitle {
  margin-top: 20px;
  font-weight: normal;
  font-size: 130%;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 5px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #000000;
}

.navbar-inverse .navbar-toggle {
  border-color: #000000;
}

/* Hides tags */
.tags {
  display: none;
}

#dark-theme-text,
#dark-theme-select,
.font-size-selector {
  color: #fff;
  align-self: center;
  padding: 0px 3px;
}

.font-size-selector {
  margin-right: 10px;
}

#font-plus {
  font-size: 1.5rem;
}

#font-minus {
  font-size: 1rem;
}

#font-plus,
#font-minus {
  padding: 0px 4px;
}

#font-plus,
#font-minus:hover {
  cursor: pointer;
}

.navbar {
  border-bottom: 3px solid #ff2f02;
}

.previousSubjects {
  display: none !important;
}

hr {
  border: 1px solid #ff2f02;
}

/* Limits width of h2 to make it only clickable on the text */
h2,
h3,
h4 {
  width: fit-content;
}

.visited-icon {
  color: whitesmoke;
  margin-right: 5px;
  font-size: 10px;
}

.nav-link:hover .visited-icon {
  color: #8d8d8d;
}

.nav-link:visited .visited-icon {
  color: rgb(153, 172, 153);
}

ul.task-list {
  list-style: none;
  padding: 0;
}

li.task-list-item {
  padding: 0.5rem 0;
}

li.task-list-item > input {
  margin-right: 0.5rem;
}

table.task-list-summary {
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
  position: sticky;
  bottom: 0;
}

table.task-list-summary th {
  width: 33.33%;
}
