@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-section {
    height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

#hero-img {
    background-image: url("../.././public/assets/hero-image-300.jpg");
    background-size: cover;
    background-position: 95%;
}

input[name="tagOption"]:checked + label {
    color: rgb(255 255 255);
    background-color: rgb(131 24 67);

    /*move active tag upp in the div*/
    order: -888;
}

input[name="tagOption"]:checked ~ #tagOption-close + label {
    /*show the 'all auctions' option when an other tag is selected*/
    display: block;
}

/* style the scroll bar */
::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: rgb(243 244 246);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(131 24 67);
}
